# Ignore everything except...
*

# ...these specific files:

.gitignore
.gitmodules

.vimrc

direnv/direnvrc

gh/config.yml
gh/hosts.yml

helix/

kitty/

mimeapps.list

nix/

nvim/

Slack/Preferences
Slack/local-settings.json

spotify/prefs

touchegg/touchegg.conf
