# Ignore everything except...
*

# ...these specific files:

!.gitignore
!.gitmodules

!.vimrc

!direnv/
direnv/**
!direnv/direnvrc

!gh/
gh/**
!gh/config.yml
!gh/hosts.yml

!helix/
!helix/**

!kitty/
!kitty/**

!mimeapps.list

!nix
!nix/**

!nvim/
!nvim/**

!Slack/
Slack/**
!Slack/Preferences
!Slack/local-settings.json

!spotify/
spotify/**
!spotify/prefs

!touchegg/
touchegg/**
!touchegg/touchegg.conf

!user-dirs.dirs
!user-dirs.locale
