# Ignore everything except...
*
# ...these specific files:

# The interesting stuff:
!flake.nix
!config/
!config/**
!rebuild.nix

# Success/failure flags:
!.build-*

# Lock file (for consistent versions):
!flake.lock

# Dummy flake to delete inputs:
!null/
!null/**

# Git config:
!.gitignore
